$white: #ffffff;

$md-default: (
        50 : #e3e6ea,
        100 : #b9bfca,
        200 : #8b95a6,
        300 : #5d6b82,
        400 : #3a4b68,
        500 : #172b4d,
        600 : #142646,
        700 : #11203d,
        800 : #0d1a34,
        900 : #071025,
        A100 : #6287ff,
        A200 : #2f60ff,
        A400 : #003cfb,
        A700 : #0036e1,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #ffffff,
                400 : #ffffff,
                500 : #ffffff,
                600 : #ffffff,
                700 : #ffffff,
                800 : #ffffff,
                900 : #ffffff,
                A100 : #000000,
                A200 : #ffffff,
                A400 : #ffffff,
                A700 : #ffffff,
        )
);

$md-primary: (
        50 : #eceefc,
        100 : #cfd5f7,
        200 : #afb9f2,
        300 : #8e9cec,
        400 : #7687e8,
        500 : #5e72e4,
        600 : #566ae1,
        700 : #4c5fdd,
        800 : #4255d9,
        900 : #3142d1,
        A100 : #ffffff,
        A200 : #e3e6ff,
        A400 : #b0b7ff,
        A700 : #96a0ff,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #000000,
                400 : #000000,
                500 : #ffffff,
                600 : #ffffff,
                700 : #ffffff,
                800 : #ffffff,
                900 : #ffffff,
                A100 : #000000,
                A200 : #000000,
                A400 : #000000,
                A700 : #000000,
        )
);

$md-secondary: (
        50 : #fefefe,
        100 : #fcfcfd,
        200 : #fafafb,
        300 : #f7f8f9,
        400 : #f6f7f8,
        500 : #f4f5f7,
        600 : #f3f4f6,
        700 : #f1f2f5,
        800 : #eff0f3,
        900 : #eceef1,
        A100 : #ffffff,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #000000,
                400 : #000000,
                500 : #000000,
                600 : #000000,
                700 : #000000,
                800 : #000000,
                900 : #000000,
                A100 : #000000,
                A200 : #000000,
                A400 : #000000,
                A700 : #000000,
        )
);

$md-info: (
        50 : #e2f9fd,
        100 : #b8f0fa,
        200 : #88e6f7,
        300 : #58dcf4,
        400 : #35d5f1,
        500 : #11cdef,
        600 : #0fc8ed,
        700 : #0cc1eb,
        800 : #0abae8,
        900 : #05aee4,
        A100 : #ffffff,
        A200 : #d9f5ff,
        A400 : #a6e7ff,
        A700 : #8ce0ff,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #000000,
                400 : #000000,
                500 : #000000,
                600 : #000000,
                700 : #000000,
                800 : #000000,
                900 : #000000,
                A100 : #000000,
                A200 : #000000,
                A400 : #000000,
                A700 : #000000,
        )
);

$md-success: (
        50 : #e6f9f1,
        100 : #c0f0dc,
        200 : #96e7c4,
        300 : #6cddac,
        400 : #4dd59b,
        500 : #2dce89,
        600 : #28c981,
        700 : #22c276,
        800 : #1cbc6c,
        900 : #11b059,
        A100 : #e0ffed,
        A200 : #adffcf,
        A400 : #7affb1,
        A700 : #60ffa2,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #000000,
                400 : #000000,
                500 : #000000,
                600 : #000000,
                700 : #000000,
                800 : #000000,
                900 : #ffffff,
                A100 : #000000,
                A200 : #000000,
                A400 : #000000,
                A700 : #000000,
        )
);

$md-danger: (
        50 : #fee7eb,
        100 : #fcc3ce,
        200 : #fa9bae,
        300 : #f8728d,
        400 : #f75474,
        500 : #f5365c,
        600 : #f43054,
        700 : #f2294a,
        800 : #f02241,
        900 : #ee1630,
        A100 : #ffffff,
        A200 : #ffebed,
        A400 : #ffb8bf,
        A700 : #ff9ea8,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #000000,
                400 : #000000,
                500 : #ffffff,
                600 : #ffffff,
                700 : #ffffff,
                800 : #ffffff,
                900 : #ffffff,
                A100 : #000000,
                A200 : #000000,
                A400 : #000000,
                A700 : #000000,
        )
);

$md-warning: (
        50 : #ffece8,
        100 : #fed0c6,
        200 : #fdb1a0,
        300 : #fc9279,
        400 : #fc7a5d,
        500 : #fb6340,
        600 : #fa5b3a,
        700 : #fa5132,
        800 : #f9472a,
        900 : #f8351c,
        A100 : #ffffff,
        A200 : #fffaf9,
        A400 : #ffcbc6,
        A700 : #ffb4ad,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #000000,
                400 : #000000,
                500 : #000000,
                600 : #000000,
                700 : #ffffff,
                800 : #ffffff,
                900 : #ffffff,
                A100 : #000000,
                A200 : #000000,
                A400 : #000000,
                A700 : #000000,
        )
);
